@*@model Domain.Shared.DTO.CustomerDTO*@

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listNations = ViewBag.ListNations as List<BaseCore.Entities.DM_Nation>;
    var listRegions = ViewBag.ListRegion as List<BaseCore.Entities.DM_Region>;
}

<div class="col-lg-12">
    <div class="pageheader">
        <div class="pageicon"><span class="iconfa-pencil"></span></div>
        <div class="pagetitle">
            <h5>Thông tin</h5>
            <h1>Trang</h1>
        </div>
    </div>
    <div class="maincontent">
        <div class="maincontentinner">
            <h4 class="widgettitle">Cập nhật thông tin khách hàng</h4>
            <div class="widgetcontent">
                <div class="form-horizontal">
                    <!-- Horizontal Form -->
                    <form id="form_pb" action="/Customer/Create" method="post" enctype="multipart/form-data">

                        <div class="row mb-3">
                            <label for="customer_id" class="col-sm-2 control-label">Mã khách hàng <span style="color:red">(*)</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-default" placeholder="Mã khách hàng" name="CustomerId" value="">

                            </div>

                        </div>
                        <div class="row mb-3">
                            <label for="username" class="col-sm-2 control-label">Tên khách hàng<span style="color:red">(*)</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-default" placeholder="Tên khách hàng" name="Name" value="">

                            </div>
                        </div>
                        @*<div class="row mb-3">
                            <label for="password" class="col-sm-2 control-label">Mật khẩu<span style="color:red">(*)</span></label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control input-default" placeholder="Mật khẩu" name="Password" value="">

                            </div>
                        </div>*@
                        <div class="row mb-3">
                            <label for="date_of_birth" class="col-sm-2 control-label">Ngày sinh </label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control input-default" placeholder="Ngày sinh" name="DateOfBirth" value="">

                            </div>

                        </div>
                        <div class="row mb-3">
                            <label for="gender_lookup" class="col-sm-2 control-label">Giới tính </label>
                            <div class="col-sm-8">
                                <select class="form-control input-default" id="GenderLookup" name="GenderLookup">
                                    <option>---Chọn giới tính---</option>
                                    <option value="Nam">Nam</option>
                                    <option value="Nữ">Nữ</option>
                                </select>
                            </div>

                        </div>
                        <div class="row mb-3">
                            <label for="email" class="col-sm-2 control-label">Email <span style="color:red">(*)</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-default" placeholder="Địa chỉ Email" name="Email" value="">

                            </div>

                        </div>
                        <div class="row mb-3">
                            <label for="phone_number" class="col-sm-2 control-label">Số điện thoại <span style="color:red">(*)</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-default" placeholder="Số điện thoại" name="PhoneNumber" value="">

                            </div>

                        </div>
                        <div class="row mb-3">
                            <label for="city_name" class="col-sm-2 control-label">Tên công ty </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-default" placeholder="Tên công ty" name="CityName" value="">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="address1" class="col-sm-2 control-label">Địa chỉ liên hệ <span style="color:red">(*)</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-default" placeholder="Địa chỉ liên hệ" name="Address1" value="">
                            </div>
                        </div>

                        @*<div class="row mb-3">
                            <label for="postal_code" class="col-sm-2 control-label">Mã vùng</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-default" placeholder="Mã vùng" name="PostalCode" value="">
                            </div>
                        </div>*@
                        <div class="row mb-3">
                            <label for="website" class="col-sm-2 control-label">Địa chỉ website</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-default" placeholder="" name="Website" value="">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="region_id" class="col-sm-2 control-label">Khu vực<span style="color:red">(*)</span></label>
                            <div class="col-sm-8">
                               
                                <select class="form-control input-default" id="RegionId" name="RegionId">
                                    <option>---Chọn khu vực---</option>
                                    @if (listRegions != null)
                                    {
                                        foreach (var item in listRegions)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="nation_id" class="col-sm-2 control-label">Quốc gia<span style="color:red">(*)</span></label>
                            <div class="col-sm-8">
                                <select class="form-control input-default" id="NationId" name="NationId">
                                    <option>---Chọn quốc gia---</option>
                                    @if (listNations != null)
                                    {
                                        foreach (var item in listNations)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="group_customer" class="col-sm-2 control-label">Nhóm khách hàng<span style="color:red">(*)</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-default" placeholder="" name="GroupCustomer" value="">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="setting_customer" class="col-sm-2 control-label">Loại hình cơ cấu KH<span style="color:red">(*)</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-default" placeholder="" name="SettingCustomer" value="">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="type_customer" class="col-sm-2 control-label">Kiểu khách hành<span style="color:red">(*)</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-default" placeholder="" name="TypeCustomer" value="">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="cate_customer" class="col-sm-2 control-label">Hạng khách hàng<span style="color:red">(*)</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-default" placeholder="" name="CateCustomer" value="">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="number_contract" class="col-sm-2 control-label">Số hợp đồng<span style="color:red">(*)</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-default" placeholder="" name="NumberContract" value="">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="date_contract" class="col-sm-2 control-label">Ngày ký hợp đồng</label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control input-default" placeholder="" name="DateContract" value="">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="date_network_charges" class="col-sm-2 control-label">Ngày nghiệm thu tính cước</label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control input-default" placeholder="" name="DateNetworkCharges" value="">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="year_of_dept" class="col-sm-2 control-label">Năm bắt đầu công nợ</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control input-default" placeholder="" name="YearOfDept" value="">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="month_of_dept" class="col-sm-2 control-label">Tháng bắt đầu công nợ</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control input-default" placeholder="" name="MounthOfDept" value="">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="curcle_payment" class="col-sm-2 control-label">Chu kì thanh toán (tháng)</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control input-default" placeholder="" name="CurclePayment" value="">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="due_date_payment" class="col-sm-2 control-label">Thời hạn thanh toán (ngày)</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control input-default" placeholder="" name="DueDatePayment" value="">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="clue_payment" class="col-sm-2 control-label">Đầu mối thanh toán</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-default" placeholder="" name="CluePayment" value="">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="cate_revenue" class="col-sm-2 control-label">Loại doanh thu</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-default" placeholder="" name="CateRevenue" value="">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="cate_service" class="col-sm-2 control-label">Loại dịch vụ</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-default" placeholder="" name="CateService" value="">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="cate_bandwidth" class="col-sm-2 control-label">Băng thông</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-default" placeholder="" name="CateBandwidth" value="">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="cid" class="col-sm-2 control-label">CID</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-default" placeholder="" name="CID" value="">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="start_point" class="col-sm-2 control-label">Điểm đầu</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-default" placeholder="" name="StartPoint" value="">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="end_point" class="col-sm-2 control-label">Điểm cuối</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-default" placeholder="" name="EndPoint" value="">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="address2" class="col-sm-2 control-label">Thông tin thiết bị </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-default"  name="Address2" value="">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="number_contract" class="col-sm-2 control-label">Đầu mối liên hệ KT NOC </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control input-default" placeholder="" name="Address3" value="">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="stt" class="col-sm-2 control-label">Thứ tự</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control input-default" placeholder="Số thứ tự" min="1" name="Stt" value="">
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <label for="ngay_sua" class="col-sm-2 control-label">Ngày sửa</label>
                            <div class="col-sm-8">
                                <input disabled type="text" class="form-control input-default" value="">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="ngay_tao" class="col-sm-2 control-label">Ngày tạo</label>
                            <div class="col-sm-8">
                                <input disabled type="text" class="form-control input-default" value="">
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" value="Create" class="btn btn-primary">Lưu</button>
                            <button type="button" class="btn btn-secondary" onclick="window.location.href='/Customer/Index';">Đóng</button>
                        </div>
                    </form><!-- End Horizontal Form -->
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Basic Modal -->

<div class="modal fade" id="basicModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header widgettitle">
                <h5 class="modal-title">Danh sách</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div><!-- End Basic Modal-->
<script>
    $(document).ready(function () {

        $('#form_pb').validate({
            rules: {
                NationId: "required",
                RegionId: "required",
                SettingCustomer: "required",
                PhoneNumber: "required",
                Email: "required",
                TypeCustomer: "required",
               
                GroupCustomer: "required",
                UserName: "required",
                CustomerId: "required",
                Address1: "required",
                CateCustomer: "required"

            },
            messages: {
                NationId: "Bạn cần chọn quốc gia",
                RegionId: "Bạn cần chọn vùng",
                GroupCustomer: "Bạn cần nhập nhóm khách hàng",
                PhoneNumber: "Bạn cần nhập số điện thoại",
                Email: "Bạn cần nhập email",
                TypeCustomer: "Bạn cần nhập kiểu khách hàng",              
                SettingCustomer: "Bạn cần nhập loại hình cơ cấu KH",
                UserName: "Bạn cần nhập tên đăng nhập",
                CustomerId: "Bạn cần nhập mã khách hàng",
                Address1: "Bạn cần nhập nguyên quán",
                CateCustomer: "Bạn cần nhập hạng khách hàng"
            }
        });

    });</script>

